In [2]:
# try to use ansamble 

from processing_module import * 
import matplotlib.pyplot as plt

offset = 0
file_columns = ['id','rle_mask']

n_NN = 6
models = [{} for x in range(n_NN)]
models[0]['filename'] = 'ensamble/0_217_229'
models[0]['L'] = 4+1 #L
models[0]['add_xy'] = True

models[1]['filename'] = 'ensamble/1_207_135'
models[1]['L'] = 6+1 #L
models[1]['add_xy'] = True

models[2]['filename'] = 'ensamble/2_199_60'
models[2]['L'] = 6+1 #L
models[2]['add_xy'] = False

models[3]['filename'] = 'ensamble/3_227_24'
models[3]['L'] = 4+1 #L
models[3]['add_xy'] = False

models[4]['filename'] = 'ensamble/4_241_170'
models[4]['L'] = 6+1 #L
models[4]['add_xy'] = False

models[5]['filename'] = 'ensamble/5_242_80'
models[5]['L'] = 6+1 #L
models[5]['add_xy'] = False

print('train {} models'.format(n_NN))
#print(get_columns_list(L))

#parameters = [None for x in range(n_NN)]
#print(parameters)
for i, model in enumerate(models): 
    L = model['L']
    models[i]['parameters'] = load_parameters(model, L)
    if (L-1 == 4):
        f_prop = forward_propagation4
    if (L-1 == 5):
        f_prop = forward_propagation5
    if (L-1 == 6):
        f_prop = forward_propagation6    
    models[i]['f_prop'] = f_prop
    print('name: {}, L: {}'.format(model['filename'],model['L']))
        

test_file_obj = {}
test_file_obj['test_images_path'] = '../images'
test_file_obj['test_image_files'] = get_testfiles_list(test_file_obj['test_images_path'])

#test_file_obj['test_images_path'] = '../train/images'
#test_file_obj['test_image_files'] = get_testfiles_list(test_file_obj['test_images_path'])


test_file_obj['deep_filename'] = '../depths.csv'
test_files = test_file_obj['test_image_files']
test_file_obj['result_file'] = 'results/res_10-19'

print('files to process: {}'.format(len(test_files)))

train 6 models
name: ensamble/0_217_229, L: 5
name: ensamble/1_207_135, L: 7
name: ensamble/2_199_60, L: 7
name: ensamble/3_227_24, L: 5
name: ensamble/4_241_170, L: 7
name: ensamble/5_242_80, L: 7
files to process: 18000

In [3]:
start_time = time.time()
file_frame = convert_resfile_to_frame(test_file_obj)
print('processing frame: {}'.format(time.time() - start_time))

processing frame: 64.81027674674988

In [4]:
if isfile(test_file_obj['result_file']+'.csv'):
    res_df = pd.read_csv(test_file_obj['result_file']+'.csv', names = file_columns)
    offset = len(res_df.index)-1
    print('continue file: {} from pos# {}:'.format(test_file_obj['result_file']+'.csv', offset))
else:
    res_df = pd.DataFrame(columns = ['id','rle_mask']).set_index('id')
    res_df.to_csv(test_file_obj['result_file']+'.csv', mode='w', header=True)

start_time = time.time()
beg_t = time.time()
iter_t = time.time()
for i,f in enumerate(test_files):

    #check = [None for x in range(1)]

    
    img_array = file_frame.loc[f]['2D-img']
    deep = file_frame.loc[f]['z1']
    fname = file_frame.loc[f]['fname']


    frame = processing_single_testfile(fname, img_array, deep)    
    
    
    res_df = pd.DataFrame(columns = file_columns)
    Y = [None for x in range(n_NN)]
    for itm, model in enumerate(models):
        if model['add_xy']:
            feature_X = 'extended_scaled_surround_xy'
        else:
            feature_X = 'extended_scaled_surround'

        X_data_arr = frame[feature_X]
        X  = np.array([x for x in X_data_arr]).T
        Y[itm], _ = model['f_prop'](X, model['parameters'])
        
    Yavg = (Y[0] + Y[1] + Y[2] + Y[3] + Y[4] + Y[5])/6
    frame['prediction'] = (Yavg.T >0.65)*1  

    #frame['prediction'] = [((f_prop(x.reshape(-1,1), parameters)[0])[0][0] >0.5)*1 for x in frame['extended_scaled_surround']]
    test_predict = frame.sort_values(['px_id'])
    
    pic_res = np.array(test_predict['prediction']).reshape(101,101)
    
    item = {}
    item['id'] = f.split('.')[0]
    item['rle_mask'] = convert_mask(pic_res)
    res_df = res_df.append([item], sort = False).set_index('id')
    res_df.to_csv(test_file_obj['result_file']+'.csv', mode='a', header=False)
    
    #check[0] = time.time() - beg_t
    if i%250 == 0:
        point_time = time.strftime('%d.%m.%Y %H:%M:%S', time.localtime())
        print('i: {}, i+offset: {}, iter time: {:}, total time: {:}, ch-p: {:}'.format(i,i+offset,(time.time()- iter_t)/60,(time.time()- start_time)/60, point_time))
        iter_t = time.time()
    #print(check)
    
#frame.head()
print('thats it')

i: 0, i+offset: 0, iter time: 0.02329500118891398, total time: 0.023295533657073975, ch-p: 19.10.2018 11:20:05
i: 250, i+offset: 250, iter time: 3.0322827339172362, total time: 3.0555840810139974, ch-p: 19.10.2018 11:23:07
i: 500, i+offset: 500, iter time: 2.8554275194803873, total time: 5.911013201872508, ch-p: 19.10.2018 11:25:59
i: 750, i+offset: 750, iter time: 2.9094202478726703, total time: 8.820435130596161, ch-p: 19.10.2018 11:28:53
i: 1000, i+offset: 1000, iter time: 2.955975317955017, total time: 11.776412431399027, ch-p: 19.10.2018 11:31:51
i: 1250, i+offset: 1250, iter time: 8.978206034501394, total time: 20.75462044874827, ch-p: 19.10.2018 11:40:49
i: 1500, i+offset: 1500, iter time: 3.0651352326075236, total time: 23.819757282733917, ch-p: 19.10.2018 11:43:53
i: 1750, i+offset: 1750, iter time: 3.1804588794708253, total time: 27.00021804968516, ch-p: 19.10.2018 11:47:04
i: 2000, i+offset: 2000, iter time: 3.0896976351737977, total time: 30.08992042938868, ch-p: 19.10.2018 11:50:09
i: 2250, i+offset: 2250, iter time: 2.7816627502441404, total time: 32.871584630012514, ch-p: 19.10.2018 11:52:56
i: 2500, i+offset: 2500, iter time: 2.823969833056132, total time: 35.69555594921112, ch-p: 19.10.2018 11:55:46
i: 2750, i+offset: 2750, iter time: 2.9166598836580913, total time: 38.6122172832489, ch-p: 19.10.2018 11:58:41
i: 3000, i+offset: 3000, iter time: 3.0051362713178, total time: 41.617357583840686, ch-p: 19.10.2018 12:01:41
i: 3250, i+offset: 3250, iter time: 2.993890730539958, total time: 44.61125076611837, ch-p: 19.10.2018 12:04:41
i: 3500, i+offset: 3500, iter time: 3.1058932979901632, total time: 47.71714944839478, ch-p: 19.10.2018 12:07:47
i: 3750, i+offset: 3750, iter time: 2.948340145746867, total time: 50.66549114783605, ch-p: 19.10.2018 12:10:44
i: 4000, i+offset: 4000, iter time: 3.0501551349957783, total time: 53.71564803520838, ch-p: 19.10.2018 12:13:47
i: 4250, i+offset: 4250, iter time: 2.9427761832873025, total time: 56.65847380161286, ch-p: 19.10.2018 12:16:43
i: 4500, i+offset: 4500, iter time: 3.011987566947937, total time: 59.67046288251877, ch-p: 19.10.2018 12:19:44
i: 4750, i+offset: 4750, iter time: 2.878808053334554, total time: 62.54928016662598, ch-p: 19.10.2018 12:22:37
i: 5000, i+offset: 5000, iter time: 2.8167282819747923, total time: 65.36601003011067, ch-p: 19.10.2018 12:25:26
i: 5250, i+offset: 5250, iter time: 2.881164773305257, total time: 68.24717626571655, ch-p: 19.10.2018 12:28:19
i: 5500, i+offset: 5500, iter time: 2.75244433482488, total time: 70.99962206681569, ch-p: 19.10.2018 12:31:04
i: 5750, i+offset: 5750, iter time: 2.821507449944814, total time: 73.82113103469213, ch-p: 19.10.2018 12:33:53
i: 6000, i+offset: 6000, iter time: 2.755523963769277, total time: 76.57665986617407, ch-p: 19.10.2018 12:36:39
i: 6250, i+offset: 6250, iter time: 11.474591334660849, total time: 88.0512528816859, ch-p: 19.10.2018 12:48:07
i: 6500, i+offset: 6500, iter time: 2.997200834751129, total time: 91.04845626354218, ch-p: 19.10.2018 12:51:07
i: 6750, i+offset: 6750, iter time: 2.892798582712809, total time: 93.94126849969228, ch-p: 19.10.2018 12:54:00
i: 7000, i+offset: 7000, iter time: 2.8831265330314637, total time: 96.8243965824445, ch-p: 19.10.2018 12:56:53
i: 7250, i+offset: 7250, iter time: 2.9556448141733807, total time: 99.78004288276037, ch-p: 19.10.2018 12:59:51
i: 7500, i+offset: 7500, iter time: 3.040144419670105, total time: 102.82018885215123, ch-p: 19.10.2018 13:02:53
i: 7750, i+offset: 7750, iter time: 3.02019172112147, total time: 105.8403820514679, ch-p: 19.10.2018 13:05:54
i: 8000, i+offset: 8000, iter time: 3.6359394987424216, total time: 109.47632305224737, ch-p: 19.10.2018 13:09:33
i: 8250, i+offset: 8250, iter time: 3.723897902170817, total time: 113.20022281805674, ch-p: 19.10.2018 13:13:16
i: 8500, i+offset: 8500, iter time: 2.9260600328445436, total time: 116.12628478209177, ch-p: 19.10.2018 13:16:12
i: 8750, i+offset: 8750, iter time: 2.894926897684733, total time: 119.02121324936549, ch-p: 19.10.2018 13:19:05
i: 9000, i+offset: 9000, iter time: 2.771765665213267, total time: 121.79298386971156, ch-p: 19.10.2018 13:21:52
i: 9250, i+offset: 9250, iter time: 2.9488490343093874, total time: 124.74183441400528, ch-p: 19.10.2018 13:24:48
i: 9500, i+offset: 9500, iter time: 2.9605848670005797, total time: 127.7024238506953, ch-p: 19.10.2018 13:27:46
i: 9750, i+offset: 9750, iter time: 2.900083601474762, total time: 130.60250938336054, ch-p: 19.10.2018 13:30:40
i: 10000, i+offset: 10000, iter time: 2.9953802307446797, total time: 133.59789741834004, ch-p: 19.10.2018 13:33:40
i: 10250, i+offset: 10250, iter time: 2.8582489172617596, total time: 136.45615059932072, ch-p: 19.10.2018 13:36:31
i: 10500, i+offset: 10500, iter time: 6.1873249014218645, total time: 142.643476998806, ch-p: 19.10.2018 13:42:43
i: 10750, i+offset: 10750, iter time: 3.0914219498634337, total time: 145.73490066925686, ch-p: 19.10.2018 13:45:48
i: 11000, i+offset: 11000, iter time: 3.4831422845522564, total time: 149.2180469671885, ch-p: 19.10.2018 13:49:17
i: 11250, i+offset: 11250, iter time: 3.164044213294983, total time: 152.38209336598715, ch-p: 19.10.2018 13:52:27
i: 11500, i+offset: 11500, iter time: 2.807208820184072, total time: 155.18931541840234, ch-p: 19.10.2018 13:55:15
i: 11750, i+offset: 11750, iter time: 2.8724191665649412, total time: 158.0617361664772, ch-p: 19.10.2018 13:58:08
i: 12000, i+offset: 12000, iter time: 2.7856894016265867, total time: 160.84742690324782, ch-p: 19.10.2018 14:00:55
i: 12250, i+offset: 12250, iter time: 2.784352453549703, total time: 163.6317810177803, ch-p: 19.10.2018 14:03:42
i: 12500, i+offset: 12500, iter time: 2.7401876489321393, total time: 166.37197024822234, ch-p: 19.10.2018 14:06:26
i: 12750, i+offset: 12750, iter time: 2.695552134513855, total time: 169.0675239165624, ch-p: 19.10.2018 14:09:08
i: 13000, i+offset: 13000, iter time: 2.7378831187884014, total time: 171.80540858507158, ch-p: 19.10.2018 14:11:52
i: 13250, i+offset: 13250, iter time: 2.7092143654823304, total time: 174.51462446451188, ch-p: 19.10.2018 14:14:35
i: 13500, i+offset: 13500, iter time: 2.7499343156814575, total time: 177.2645602663358, ch-p: 19.10.2018 14:17:20
i: 13750, i+offset: 13750, iter time: 2.7415927171707155, total time: 180.00615444978078, ch-p: 19.10.2018 14:20:04
i: 14000, i+offset: 14000, iter time: 2.7356144348780314, total time: 182.74177046616873, ch-p: 19.10.2018 14:22:48
i: 14250, i+offset: 14250, iter time: 2.7278381824493407, total time: 185.46961016654967, ch-p: 19.10.2018 14:25:32
i: 14500, i+offset: 14500, iter time: 2.716658433278402, total time: 188.18627016544343, ch-p: 19.10.2018 14:28:15
i: 14750, i+offset: 14750, iter time: 2.721283996105194, total time: 190.90755571524303, ch-p: 19.10.2018 14:30:58
i: 15000, i+offset: 15000, iter time: 2.7392852624257404, total time: 193.64684251944223, ch-p: 19.10.2018 14:33:43
i: 15250, i+offset: 15250, iter time: 2.696177136898041, total time: 196.34302115043005, ch-p: 19.10.2018 14:36:25
i: 15500, i+offset: 15500, iter time: 2.715961480140686, total time: 199.05898411671322, ch-p: 19.10.2018 14:39:07
i: 15750, i+offset: 15750, iter time: 2.7443623344103494, total time: 201.80334796905518, ch-p: 19.10.2018 14:41:52
i: 16000, i+offset: 16000, iter time: 2.6992751002311706, total time: 204.50262455145517, ch-p: 19.10.2018 14:44:34
i: 16250, i+offset: 16250, iter time: 2.732738180955251, total time: 207.23536439736685, ch-p: 19.10.2018 14:47:18
i: 16500, i+offset: 16500, iter time: 2.764666231473287, total time: 210.00003218253454, ch-p: 19.10.2018 14:50:04
i: 16750, i+offset: 16750, iter time: 2.7256731470425923, total time: 212.7257068157196, ch-p: 19.10.2018 14:52:47
i: 17000, i+offset: 17000, iter time: 2.731077202161153, total time: 215.45678546826045, ch-p: 19.10.2018 14:55:31
i: 17250, i+offset: 17250, iter time: 2.7208810170491535, total time: 218.177667983373, ch-p: 19.10.2018 14:58:15
i: 17500, i+offset: 17500, iter time: 2.7302459637324015, total time: 220.90791903336842, ch-p: 19.10.2018 15:00:58
i: 17750, i+offset: 17750, iter time: 2.7324073791503904, total time: 223.64033111333848, ch-p: 19.10.2018 15:03:42
thats it

In [ ]:
def visualisate(f):
    check = [None for x in range(6)]

    msk_array = Image.open('../train/masks' + '/'+ f).convert(mode='L')

    st_t = time.time()
    beg_t = time.time()

    img_array = file_frame.loc[f]['2D-img']  #step 1
    deep = file_frame.loc[f]['z1'] # step 1
    fname = file_frame.loc[f]['fname']  #step 1
    check[1] = time.time() - st_t

    st_t = time.time()
    frame = processing_single_testfile(fname, img_array, deep)  # step 2
    check[2] = time.time() - st_t


    st_t = time.time()
    #test_predict = frame.apply(predict,args=(f_prop, parameters), axis = 1) #step 3
    #test_predict['prediction'] = [type(f_prop(x.reshape(-1,1), parameters)[0]) for x in frame['extended_scaled_surround']]
    #frame['prediction'] = [((f_prop(x.reshape(-1,1), parameters)[0])[0][0] >0.5)*1 for x in frame['extended_scaled_surround']]

    X_data_arr = frame['extended_scaled_surround']
    X  = np.array([x for x in X_data_arr]).T
    Y, _ = f_prop(X, parameters)
    frame['prediction'] = (Y.T >0.5)*1
    check[3] = time.time() - st_t

    st_t = time.time()
    test_predict = frame.sort_values(['px_id'])  #step 4
    check[4] = time.time() - st_t

    st_t = time.time()
    pic_res = np.array(test_predict['prediction']).reshape(101,101) #step 5
    check[5] = time.time() - st_t
    check[0] = time.time() - beg_t

    fig, ax =  plt.subplots(1, 3, figsize=(9, 5), sharey=False, sharex = False)

    plt.title(str(id) + ' : ' + f)
    ax[0].imshow(img_array, cmap='gray')  
    ax[1].imshow(msk_array, cmap='gray')
    ax[2].imshow(pic_res, cmap='gray')

    plt.show()
    print(check)
    return frame
    
tt = visualisate(file_frame.index[8])

In [11]:
## clearing result file

In [27]:
frame = pd.read_csv(test_file_obj['result_file']+ '_3.csv').set_index('id')

In [28]:
len(frame['rle_mask'][0].split(' '))

16

In [29]:
frame['clr'] = [len(str(x).split(' '))<=8 for x in frame['rle_mask']]
#ind = frame['clr'] == True
#print(ind)
frame.loc[frame['clr'] == True, 'rle_mask'] = np.nan
frame1 = frame[['rle_mask']]

In [30]:
frame.head(50)

                                                     rle_mask    clr
id
dc066ad24e  1278 2 1380 3 1483 3 1589 2 1691 6 1794 6 1898...  False
9ddc91e5bb  442 2 449 18 478 16 495 3 540 6 547 26 574 2 5...  False
ef441205b5  8600 2 8603 3 8700 12 8800 15 8901 22 9005 5 9...  False
4a723a302f  4655 6 4749 2 5183 3 5199 3 5260 4 5286 8 5298...  False
16545fae06                                                NaN   True
b258011964                                                NaN   True
e50303e172                                                NaN   True
ccc645a996                                                NaN   True
7efd271bba                                                NaN   True
d607fd7e0b                                                NaN   True
1af8728ece  12 14 67 15 114 12 169 14 215 13 270 10 289 4 ...  False
42bf7406bb                                                NaN   True
298bda8c6b                                                NaN   True
305f5d7900                                                NaN   True
37afd06dfa                                                NaN   True
a03848e48d  12 16 113 15 214 14 314 15 415 15 516 15 617 1...  False
4c445e5206  154 3 170 3 175 2 181 6 255 4 262 3 272 14 288...  False
75ab739866                                                NaN   True
203a0b212d  6451 2 6547 7 6642 5 6649 6 6737 20 6831 8 684...  False
a23ce0105e  38 15 70 13 138 14 153 2 173 11 234 19 274 10 ...  False
3fa0352e1a                                                NaN   True
bf8525523a  79 12 178 17 251 4 258 3 263 5 274 23 324 4 35...  False
b7a0e18aa1                                                NaN   True
41aae07818                                                NaN   True
31de8d8b34  4 2 10 48 111 49 212 49 313 2 316 46 414 2 417...  False
010452a624                                                NaN   True
e563323c18  6 18 84 8 94 3 107 17 183 10 195 6 208 2 211 1...  False
bc0ea15b81                                                NaN   True
f990b164fd                                                NaN   True
722155ef59                                                NaN   True
2ae74e9ece                                                NaN   True
0b83548c34  1808 3 1907 5 2005 12 2106 14 2206 17 2305 19 ...  False
4ea94e932a                                                NaN   True
b318dfdca7                                                NaN   True
3e8ab52b8a  1775 2 1783 7 1876 3 1883 9 1984 9 2079 4 2084...  False
67ae021997                                                NaN   True
899d1000fe  14 45 118 2 123 37 212 2 221 42 310 3 320 46 4...  False
538fa5596e  4 4 38 7 47 8 56 3 105 6 127 10 138 7 146 10 1...  False
cc2c7789b8  3986 3 4052 3 4087 4 4154 2 4189 4 4250 2 4255...  False
e9531eada5  33 66 137 62 238 59 339 61 442 59 544 57 647 5...  False
55b7d18492                                                NaN   True
9de7ed8672                                                NaN   True
4194504947  5470 3 5565 8 5664 12 5710 2 5758 2 5763 14 57...  False
eb1b5278e7  88 11 189 5 195 4 597 2 698 3 2646 2 2747 2 28...  False
501da23c5b                                                NaN   True
dbec4fe1c5  2714 3 2814 4 2915 4 3015 5 3116 5 3217 5 3318...  False
609d7d1c49  1004 2 1103 4 2047 2 2147 3 2452 2 2969 2 3059...  False
ec96a1760a  6247 4 6348 4 6605 3 6716 2 7108 4 7212 20 728...  False
36febb2cf5                                                NaN   True
7824b680f1                                                NaN   True

In [31]:
frame1.to_csv(test_file_obj['result_file']+'_4.csv', mode='w', header=True)

In [19]:
def erase_ones(row):
    lst = str(row['rle_mask']).split(' ')
    lst1 = list(zip(lst[0::2],lst[1::2]))
    
    if len(lst1) > 0:
        erased = [x[0]+ ' ' + x[1] for x in lst1 if int(x[1])>1]
        row['rle_mask'] = str(erased).replace('[','').replace(']','').replace(',','').replace("'",'')
    return row

In [88]:
erase_ones('1198 3 1277 3 1302 2 1379 4 1482 4 1494 3')

[('1198', '3'), ('1277', '3'), ('1302', '2'), ('1379', '4'), ('1482', '4'), ('1494', '3')]

'1198 3 1277 3 1302 2 1379 4 1482 4 1494 3'

In [20]:
frame3 = pd.read_csv(test_file_obj['result_file']+ '_3.csv').set_index('id')
#frame4 = frame3.apply(erase_ones)
frame3.head()

                                                     rle_mask
id
dc066ad24e  1199 1 1278 2 1380 3 1483 3 1589 2 1691 6 1794...
9ddc91e5bb  356 1 442 2 449 18 478 16 495 3 540 6 547 26 5...
ef441205b5  8600 2 8603 3 8700 12 8800 15 8897 1 8901 22 8...
4a723a302f  935 1 4655 6 4749 2 4759 1 5183 3 5199 3 5260 ...
16545fae06                                                NaN

In [21]:
frame4 = frame3.apply(erase_ones, axis =1)

In [22]:
frame4.head()

                                                     rle_mask
id
dc066ad24e  1278 2 1380 3 1483 3 1589 2 1691 6 1794 6 1898...
9ddc91e5bb  442 2 449 18 478 16 495 3 540 6 547 26 574 2 5...
ef441205b5  8600 2 8603 3 8700 12 8800 15 8901 22 9005 5 9...
4a723a302f  4655 6 4749 2 5183 3 5199 3 5260 4 5286 8 5298...
16545fae06                                                NaN

In [23]:
frame4.to_csv(test_file_obj['result_file']+'_3.csv', mode='w', header=True)